
body {
    background-color: lightgrey;
}

.header {
    display: flex;
    height: 50px;
    justify-content: space-around;
    border: medium dashed violet;
    align-items: center;
    background-color: aqua;
}

img {
    width: 200px;
    height: 100px;
}

.sub_header {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}


.top_info {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    flex-wrap: wrap;
}

.placeholder {
    width: 600px;
    height: 300px;
    background-color: red;
}

.boxes {
    display: flex;
    gap: 10px;
    border: medium dashed red;
    justify-content: space-evenly;
}

.single_box {
    border: medium dashed violet;
    max-width: 200px;
    max-height: 200px;
}

.middle_info {
    padding: 10px;
    background-color: lightgreen;
}

.image_credit {
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.quote_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 400px;
    text-align: left;
    word-wrap: normal;
    font-style: italic;
}

.quote p {
    text-align: right;
    font-weight: bold;
}

h2 {
    margin-top: 0px;
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    border: medium dashed violet;
    margin-left: auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
}


